@import "@ckeditor/ckeditor5-ui/theme/mixins/_rwd.css";

.ck.ck-labeled-field-view {
	position: relative;

	& > .ck.ck-labeled-field-view__input-wrapper {
		margin: 5px;

		& input {
			width: 260px;
			display: block;
			padding-right: 46px;
		}
	}

	& .ck-labeled-field-view__status {
		display: inline-block;
		position: absolute;
		top: 6px;
		right: 5px;
		margin-right: 6px;
		color: #999;
	}
}

.search-item {
	background-color: #ffff00;

	& .current {
		background-color: #ff9632;
	}
}
