.ck.ck-quick-style-form {
	display: flex;
	flex-flow: column;

	&.ck-form-vertical > * {
		margin-left: 0 !important;
	}

	& > .ck.ck-button.ck-on, & > a.ck.ck-button.ck-on {
		background-color: transparent !important;
	}
}
